body {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  margin: 20px;
  text-align: center;
  font-size: 36px;
  padding: 10px;
}
.hide {
  display: none;
}
.fadeIn {
  animation: fadeIn 5s;
}

.startingScreen {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
}
.sliders {
  position: absolute;
  width: 50vw;
  z-index: 2;
}
#leftSlider {
  position: absolute;
  background-color: rgb(29, 156, 240);
  height: 100vh;
}
.slide-left {
  transform: translate(-140%, 0px);
  transition: transform 1.8s ease-in-out;
}
.slide-right {
  transform: translate(140%, 0px);
  transition: transform 1.8s ease-in-out;
}
#rightSlider {
  position: absolute;
  background-color: rgb(240, 29, 29);
  height: 100vh;
  left: 50vw;
}
#startingInstructions {
  position: relative;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 1.4em;
  z-index: 3;
  width: 40%;
  top: 40vh;
  background-color: #5e5df0;
  padding: 30px;
  border-radius: 25px;
}
#startBtn {
  position: relative;
  z-index: 3;
  display: flex;
  margin: auto;
  top: 50vh;
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.mainContainer {
  position: relative;
  display: grid;
  grid-template-columns: auto 5% auto;
  justify-content: center;
  align-content: center;
  margin: auto;
  text-align: center;
}
.btnChoices {
  position: relative;
  width: 40vw;
  height: 300px;
  margin: 20px;
  font-size: larger;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .mainContainer {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    height: auto;
  }
  #startingInstructions {
    top: 20vh;
  }
  #startBtn {
    position: relative;
    z-index: 3;
    display: flex;
    margin: auto;
    top: 30vh;
  }
  .btnChoices {
    position: relative;
    width: auto;
    height: auto;
    padding: 40px;
    margin: 20px;
    font-size: larger;
  }
}
